*.bak
*.aux
*.txt
*.blg
*.synctex.gz
*.synctex.gz(busy)
*.log
*.bbl
*.idx
*.lof
*.lot
*.toc

capitulos/*.bak
capitulos/*.aux
capitulos/*.txt
capitulos/*.blg
capitulos/*.synctex.gz
capitulos/*.synctex.gz(busy)
capitulos/*.log
capitulos/*.bbl
capitulos/*.idx
capitulos/*.lof
capitulos/*.lot
capitulos/*.toc